#global {
	background-color:bisque;
	color:rgb(61, 9, 110);
}

.myClass {
	background-color:orange;
	color:black;
}

.simpletable {
	border: 1px solid black;
	padding: 5px;
}

tr {

}

td {
	border: 1px solid black;
    padding: 5px;
}

@keyframes party-text {
	  0% {
		color: #ff0000;
	  }
	  10% {
		color: #c07300;
	  }
	  20% {
		color: #1cbb16;
	  }
	  30% {
		color: #0fb0cc;
	  }
	  40% {
		color: #6111ca;
	  }
	  50% {
		color: #490652;
	  }
	  60% {
		color: #00050e;
	  }
	  70% {
		color: #615f68;
	  }
	  80% {
		color: #ffffff;
	  }
	  90% {
		color: #e6e7aa;
	  }
	  100% {
		color: #e46363;
	  }
  }
  .party-text {
	animation: party-text 0.6s infinite;
	font-size: 60px;
  }